.sidenav {
    background: #263238;
    transition: all .5s ease;
    position: inherit;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 87.4vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}