<div class="container p-4">
    <div class="col-md-9 col-9 mx-auto">
        <div class="card text-dark bg-light mb-3">
            <div class="row g-5 mt-1 justify-content-center">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/app_log_one.png" alt="arijeng" />
                        </div>
                    </div>
                </div>

                <div class="row gy-3">
                    <form role="form" infoForm="ngForm" autocomplete="off">
                        <div class="col-md-6 offset-md-3">
                            <div class="card-body">
                                <div class="justify-content-center">

                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-text labelText">Email Address</label>
                                        <input class="form-control input-arijeng" type="email" name="userName"
                                            #email="ngModel" id="username" [(ngModel)]="userEmail" required
                                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                                        <p class="fw-light fs-6 mt-3 text-danger text-center">{{ emailValidate }}</p>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-text labelText">Password</label>
                                        <input class="form-control input-arijeng" type="password" name="userPassword"
                                            #password="ngModel" id="userpassword" [(ngModel)]="userPassword" required>
                                        <p class="fw-light fs-6 mt-3 text-danger text-center">{{ validatePassword }}</p>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-text labelText">Re-Enter Password</label>
                                        <input class="form-control input-arijeng" type="password" name="userPassword"
                                            #reEnterPassword="ngModel" id="reEnterpassword" [(ngModel)]="validatePassword" required>
                                        <p class="fw-light fs-6 mt-3 text-danger text-center">{{ checkPassword }}</p>
                                    </div>
                                </div>

                                <div class="justify-content-center">
                                    <div class="row gy-2" style="margin-top: 2rem;">
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                            <button class="btn btn-arijeng" type="button" routerLink="/" (click)="submitNewPassword()">SUBMIT</button>
                                        </div>
                                        <p class="text-danger text-center mt-2">{{ loginMsg }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>