<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold fs-1">404</h1>
            <p class="fs-2"> 
                <span class="text-danger">Opps!</span> Page not found.
            </p>
            <p class="lead">
                You lost bra? No Kota here.
                <i class="bi bi-emoji-wink"></i>
                Click below to find your way back.
            </p>
            <a routerLink="/" class="btn btn-arijeng">Go Home</a>
        </div>
    </div>
</div>