<div class="container p-4">
    <div class="col-md-9 col-9 mx-auto">
        <div class="card text-dark bg-light mb-3">
            <div class="row g-5 mt-1 justify-content-center">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/app_log_one.png" alt="arijeng" />
                        </div>
                    </div>
                </div>

                <div class="row gy-3">
                    <form #f="ngForm" [formGroup]="profileForm" (ngSubmit)="onSubmitOTPHandler()" autocomplete="off">
                        <div class="col-md-6 offset-md-3">
                            <div class="card-body">
                                <div class="justify-content-center">

                                    <div class="mb-3">
                                        <label>OTP</label>
                                        <input class="form-control input-arijeng" type="text" name="userPassword"
                                        (keypress)="keyPress($event)" maxlength="4" id="userpassword" formControlName="otp" required>
                                        <!-- <p class="fw-light fs-6 mt-3 text-danger text-center">{{ passwordValidate }}</p> -->
                                    </div>
                                </div>

                                <div class="justify-content-center">
                                    <div class="row gy-2" style="margin-top: 2rem;">
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                            <button class="btn btn-arijeng" type="submit">Confirm</button>
                                        </div>
                                        <!-- <p class="text-danger text-center mt-2">{{ loginMsg }}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>