<div class="container p-4">
    <div class="col-md-9 col-9 mx-auto">
        <div class="card text-dark bg-light mb-3">
            <div class="row g-5 mt-1 justify-content-center">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/app_log_one.png" alt="arijeng" />
                        </div>
                    </div>
                </div>

                <div class="row gy-3">
                    <form role="form" [formGroup]="otpForm" (ngSubmit)="onSubmitOTPHandler()" autocomplete="off">
                        <div class="col-md-6 offset-md-3">
                            <div class="card-body">
                                <div class="justify-content-center">

                                    <div class="mb-3">
                                        <label>OTP</label>
                                        <input type="text" 
                                        id="otp" 
                                        formControlName="otp" 
                                        class="form-control" 
                                        required 
                                        minlength="10" 
                                        maxlength="10"
                                        (keypress)="keyPress($event)"
                                        [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }"/>
                                        <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                          <div *ngIf="f['otp'].errors['required']">OTP is required</div>
                                          <div *ngIf="f['otp'].errors['minlength']">OTP must be 10 digits</div>
                                          <div *ngIf="f['otp'].errors['maxlength']">OTP must be 10 digits</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="justify-content-center">
                                    <div class="row gy-2" style="margin-top: 2rem;">
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                            <button class="btn btn-arijeng" type="submit">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>