<div class="container p-4">
  <div class="col-md-9 col-9 mx-auto">
    <div class="card text-dark bg-light mb-3">
      <div class="row g-5 mt-1 justify-content-center">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="../../assets/app_log_one.png" alt="arijeng" />
            </div>
          </div>
        </div>

        <div class="row">
          <form role="form" infoForm="ngForm" autocomplete="off">
            <div class="col-md-6 offset-md-3">
              <div class="card-body">
                <div class="justify-content-center">

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-text">First Name</label>
                    <input class="form-control input-arijeng" type="email" name="userName" id="username" [(ngModel)]="userName" required>
                    <p class="fw-light fs-6 mt-3 text-danger text-center">{{ userNameValidate }}</p>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-text">Last Name</label>
                    <input class="form-control input-arijeng" type="text" name="lastName" id="lastName" [(ngModel)]="userSurname" required>
                    <p class="fw-light fs-6 mt-3 text-danger text-center">{{ userSurnameValidate }}</p>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-text">Email Address</label>
                    <input class="form-control input-arijeng" type="email" name="personEmail" id="personEmail" [(ngModel)]="userEmail" required>
                    <p class="fw-light fs-6 mt-3 text-danger text-center">{{ userEmailValidate }}</p>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-text">Mobile Number</label>
                    <input class="form-control input-arijeng" type="email" name="personPhone" id="personPhone" [(ngModel)]="userMobile" required>
                    <p class="fw-light fs-6 mt-3 text-danger text-center">{{ userMobileValidate }}</p>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-text">Password</label>
                    <input class="form-control input-arijeng" type="password" name="personPassword" id="personPassword" [(ngModel)]="userPassword" required>
                    <p class="fw-light fs-6 mt-3 text-danger text-center">{{ userPasswordValidate }}</p>
                  </div>

                  <div class="mb-3">
                    <div class="row justify-content-center">
                      <div class="col-md-11">
                        <p>By registering you agree to our Terms and Conditions</p>
                      </div>
                      <div class="col-md-1">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row mb-2">
          <div class="col-md-6 offset-md-3">
            <div class="row justify-content-center">
              <div class="col text-end">
                <button class="btn btn-arijeng" type="button" (click)="register()">SIGN UP</button>
              </div>
              <div class="col text-center">
                <p class="text-center">OR</p>
              </div>
              <div class="col text-start">
                <button class="btn btn-arijeng" type="button" (click)="login()">SIGN IN</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
