<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-md-3">
            <button mat-raised-button color="primary" (click)="goBackHome()">
                Go Back
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <mat-card>
                <mat-card-title>Order/Customer Details:</mat-card-title>
                <mat-card-subtitle>{{ kotaOrder.person.name }}</mat-card-subtitle>
                <mat-card-subtitle>{{ kotaOrder.person.email }}</mat-card-subtitle>
                <mat-card-content>Order Number: <b>{{ kotaOrder.orderNumber }}</b></mat-card-content>
                <mat-card-content>Order Status: <b>{{ kotaOrderStatus }}</b>  </mat-card-content>
                <mat-card-content>Total Orders: <b>{{ kotaOrder.orders.length }}</b></mat-card-content>
                <mat-card-content>Total Price: <b>{{ totalPrice | currency: "R" }}</b>  </mat-card-content>
                <mat-card-content>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Order Details
                                </mat-panel-title>
                                <mat-panel-description>
                                    Click to view order details
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ng-template [matExpansionPanelContent] >
                                <mat-nav-list>
                                    <a mat-list-item *ngFor="let orders of kotaOrder.orders; 
                                        let i = index" (click)="openDialog(orders)"> 
                                        {{ orders.price | currency: "R" }}, 
                                        {{ orders.itemName }},
                                        {{ orders.description }}, 
                                        {{ orders.quantity }} item 
                                        <mat-divider></mat-divider>
                                    </a>
                                 </mat-nav-list>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>