<div class="container-fluid">

    <div class="row mt-4">
        <div class="col-md-3">
            <button mat-raised-button color="primary" (click)="goBackHome()">
                Go Back
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <mat-card>
                <mat-card-title>Order Details:</mat-card-title>
                <mat-card-subtitle>Diamond Kota</mat-card-subtitle>
                <mat-card-content>Chaka/Archaar, Lettuce, Tomato, Polony, Chips, Cheese, Egg, Russian, Patty</mat-card-content>
                <mat-card-content>Quantity: 1</mat-card-content>
                <mat-card-content>Price: R45</mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary">Order Placed</button>
                    <button mat-raised-button color="accent">Not Placed</button>
                    <button mat-raised-button color="warn">Ready For Collection</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>