<ngx-spinner 
  bdColor="rgba(0, 0, 0, 0.8)" 
  size="large" 
  color="#fb5d02" 
  type="pacman" 
  [fullScreen]="true" >
  <p style="color: white" > Loading... </p>
</ngx-spinner>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form role="form" autocomplete="off">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search Order (eg ARJ00001...)</mat-label>
          <input type="text" matInput name="search" [(ngModel)]="searchOrder" placeholder="Ex. pat@example.com">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Status</th>
            <th scope="col">Order Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders | orderfilter: searchOrder; let i = index;">
            <th>{{ i + 1 }}</th>
            <td>{{ order.person.name }}</td>
            <td>{{ order.person.email }}</td>
            <td>{{ order.person.phone }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.orderNumber }}</td>
            <td>
              <button (click)="viewOrder(order)" mat-raised-button color="primary">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>